.navbar {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   padding: 0.5rem;
}
.list {
   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
}
.logo {
   text-transform: uppercase;
}
.navbar-link {
   display: flex;
   gap: 3px;
}
.navbar_right svg {
   width: 24px;
   height: 24px;
}
.highlight {
   color: var(--content-color);
}
