@keyframes show {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.item {
   margin-top: 1rem;
   cursor: pointer;
   animation: show 3s ease-in;
}
.image img {
   width: 100%;
   height: auto;
   object-fit: cover;
}
.info {
   text-align: center;
   margin-top: 0.4rem;
}
.name {
   font-weight: 500;
}
.price {
   color: var(--second-title-color);
}
